*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background: #222;
  color: #fff;
  font-family: Poppins,sans-serif;
  padding: 10px;
}
.header{
  margin: 10px 0;
}
.links{
  /*margin: 10px 0;*/
}
.links a{
  color: #fff;
  margin: 5px 5px;
  padding: 4px 10px;
  border: 1px solid #fff;
  display: inline-block;
  text-decoration: none;
  font-size: .9em;
}
.header{
  margin: 10px 0;
}

.compParent{
  margin: 100px 0;
  font-size: 1em;
  border-left: 3px solid #fff;
  padding-left: 20px;
}
.compParent .head{
  margin-bottom: 30px;
}
.compParent .comp p{
  line-height: 1.5em;
  margin-bottom: 20px;
}

.footer a{
  text-align: right;
  color: #fff;
  display: inline-block;
}